body {
  margin-bottom: 10px;
  background-color: black;
  color: white;
}

body * {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
}

header > :first-child {
  text-align: right;
}

header, footer {
  text-align: center;
}

::placeholder {
  color: rgb(206, 206, 206);
}

.shits {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shit {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 10px;
  gap: 10px;
  background-color: gray;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shit > :first-child {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.shit > :last-child {
  font-size: 1rem;
  min-height: 300px;
}

.new-shit {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}

.new-shit > label {
  font-weight: bold;
}

.new-shit > :is(input, textarea) {
  background-color: rgb(117, 127, 143);
  color: white;
}

.new-shit > :is(input, textarea), button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  padding: 1em;
  margin: 0px;
}

.new-shit > :is(textarea) {
  min-height: 200px;
}

h1, h2, h3 {
  text-align: center;
  width: 100%;
}

.slogan {
  font-style: italic;
}

@media screen and (min-width: 1000px) {
  body {
    margin: 10px;
  }

  #container {
    width: clamp(600px, 75%, 1000px);
    margin: auto;
  }

  .shit > :first-child {
    font-size: 1.2rem;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
  }
  
  .shit > :last-child {
    font-size: 1rem;
    min-height: 300px;
  }

  .shit > :last-child {
    min-height: 300px;
    margin-left: 20px;
  }
}